@model CharacterCreatorMvc.Application.DTOs.CharacterDTO

<h2>Register new Character</h2>

<form asp-action="Create">

    <div class="form-horizontal">

        <hr />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="HealthPoints" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HealthPoints" class="form-control" />
                <span asp-validation-for="HealthPoints" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Damage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Damage" class="form-control" />
                <span asp-validation-for="Damage" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CharacterTypeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
               <select asp-for="CharacterTypeId" class="form-control" asp-items="ViewBag.CharacterTypeId"> </select>                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>
